<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>footer</title>
</head>
<body>

	<!-- inicio do FOOTER -->
	<footer class="py-4 mt-auto" th:fragment="footer" >
		<div class="container-fluid">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-dark">Copyright &copy; ConShare - 2020</div>
				<div>
					<a href="#">Política de privacidade</a>
					&middot;
					<a href="#">Termos &amp; Condições</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- fim do FOOTER -->

</body>
</html>