<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Redefinir senha-ConShare</title>
</head>
<body>

	<div layout:fragment="body">


		<div id="layoutAuthentication">
			<div id="layoutAuthentication_content">
				<main>

					<div class="row justify-content-center">

						<div class="card shadow-lg border-dark rounded-lg mt-0">
							<div class="card-header mt-0">
								<img src="/resources/assets/img_access/lock-icon.png" class="img-fluid"
									alt="Responsive image" id="imgmainpos">

							</div>
							<div class="card-body text-center">
								<form>
									<div class="form-row">

										<div class="form-group">
											<h3 class="text-center">Problemas para entrar?</h3>
											<p>Insira o seu nome de usuário ou email e</p>
											<p>enviaremos um link para você voltar a</p>
											<p>acessar a sua conta.</p>
											<input class="form-control py-4" id="inputFirstName"
												type="text" placeholder="E-mail, ou nome de usuario" /> <a
												th:href="@{/access/register_student}"
												class="btn btn-outline-secondary btn-lg mt-4" role="button"
												aria-pressed="true" id="btnpos">Enviar Link</a>
										</div>
									</div>
								</form>
							</div>


						</div>


					</div>
		

				</main>
			</div>
		</div>

	</div>









</body>
</html>