<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Frequently-Question</title>
<link href="/resources/css/styles.css" rel="stylesheet">
</head>
<body>

	<div layout:fragment="body">

		<h1 id="titlepagescollavoration">Duvidas Frequentes</h1>


		<div id="painel-style-frequenty-question-collaboration">

			<h3 class="text-left text-black" id= "title-subject-painel-frequenty-question">Matematica</h3>
			<div class="row mt-4 ">

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>
						
					</div>
				</div>
				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>
					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">


					<div class="zoom">
						<a th:href="@{/collaboration/frequenty_question}"> <img
							src="/resources/assets/img_collaboration/icons-mais.png"
							class="img-fluid mt-2 rounded mx-auto d-block "
							alt="Responsive image">

						</a>
					</div>

					<h4 class="card-title text-black text-center">Ir para o forum</h4>





				</div>
			</div>
		</div>














		<div id="painel-style-frequenty-question-collaboration">

			<h3 class="text-left text-black">Português</h3>
			<div class="row mt-4 ">

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>
				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>

					</div>
				</div>

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>

	
					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">


					<div class="zoom">
						<a th:href="@{/collaboration/frequenty_question}"> <img
							src="/resources/assets/img_collaboration/icons-mais.png"
							class="img-fluid mt-2 rounded mx-auto d-block "
							alt="Responsive image">

						</a>
					</div>

					<h4 class="card-title text-black text-center">Ir para o forum</h4>





				</div>
			</div>
		</div>










		<div id="painel-style-frequenty-question-collaboration">

			<h3 class="text-left text-black">História</h3>
			<div class="row mt-4 ">

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>
				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">

					<div class="zoom">
						<a th:href="@{/collaboration/frequenty_question}"> <img
							src="/resources/assets/img_collaboration/icons-mais.png"
							class="img-fluid mt-2 rounded mx-auto d-block "
							alt="Responsive image">

						</a>
					</div>

					<h4 class="card-title text-black text-center">Ir para o forum</h4>





				</div>
			</div>
		</div>






		<div id="painel-style-frequenty-question-collaboration">

			<h3 class="text-left text-black">Geografia</h3>
			<div class="row mt-4 ">

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>
				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>

					</div>
				</div>

				<div class="col-6 col-md-4">

					<div class="zoom">
						<a th:href="@{/collaboration/frequenty_question}"> <img
							src="/resources/assets/img_collaboration/icons-mais.png"
							class="img-fluid mt-2 rounded mx-auto d-block "
							alt="Responsive image">

						</a>
					</div>

					<h4 class="card-title text-black text-center">Ir para o forum</h4>




				</div>
			</div>
		</div>











		<div id="painel-style-frequenty-question-collaboration">

			<h3 class="text-left text-black">Inglês</h3>
			<div class="row mt-4 ">

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>
				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>
					</div>
				</div>

				<div class="col-6 col-md-4">

					<div class="zoom">
						<a th:href="@{/collaboration/frequenty_question}"> <img
							src="/resources/assets/img_collaboration/icons-mais.png"
							class="img-fluid mt-2 rounded mx-auto d-block "
							alt="Responsive image">

						</a>
					</div>

					<h4 class="card-title text-black text-center">Ir para o forum</h4>





				</div>
			</div>
		</div>












		<div id="painel-style-frequenty-question-collaboration">

			<h3 class="text-left text-black">Física</h3>
			<div class="row mt-4 ">

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>
				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">

					<div class="zoom">
						<a th:href="@{/collaboration/frequenty_question}"> <img
							src="/resources/assets/img_collaboration/icons-mais.png"
							class="img-fluid mt-2 rounded mx-auto d-block "
							alt="Responsive image">

						</a>
					</div>

					<h4 class="card-title text-black text-center">Ir para o forum</h4>





				</div>
			</div>
		</div>











		<div id="painel-style-frequenty-question-collaboration">

			<h3 class="text-left text-black">Química</h3>
			<div class="row mt-4 ">

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>


					</div>
				</div>
				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>



					</div>
				</div>

				<div class="col">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>

						</div>

					</div>
				</div>

				<div class="col-6 col-md-4">
					<div id="frequently-question-card" class="card"
						style="width: 22rem;">
						<div class="card-body">
							<h4 class="card-title mt-2">Card title</h4>

							<p class="card-text text-black">Some quick example text to
								build on the card title and make up the bulk of the card's
								content.</p>
						</div>


					</div>
				</div>

				<div class="col-6 col-md-4">

					<div class="zoom">
						<a th:href="@{/collaboration/frequenty_question}"> <img
							src="/resources/assets/img_collaboration/icons-mais.png"
							class="img-fluid mt-2 rounded mx-auto d-block "
							alt="Responsive image">

						</a>
					</div>

					<h4 class="card-title text-black text-center">Ir para o forum</h4>




				</div>
			</div>
		</div>




	</div>






</body>
</html>