<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Professores onlines</title>

</head>
<body>

	<div layout:fragment="body">

		<h1 id="titlepagescollavoration">Professores Onlines</h1>

		<div class="bg-primary">
			<div class="row">
				<div class="col">
					<div  id="online-cards-card"class="card" style="width: 12rem;">
						<img src="/assets/images/img_collaboration/Person-icon.png" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-text">Nome do Professor</p>
							<p class="card-text">Onde e formado</p>
							<p class="card-text">Aula de ...</p>
						</div>
					</div>
				</div>




				<div class="col">
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>


				<div class="col">
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>




			</div>
		</div>


	</div>

</body>
</html>