<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Documento recomendados</title>
<link href="/resources/css/styles.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="body">

		<h1 id="titlepagescollavoration">Docs Recomendados</h1>

		<!--  <div id="painel-style-recomended-doc-collaboration">
			<h3>Filtrar Documentos</h3>
			<div class="row">
				<div class="col">
					<form>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Discplina</label> <select
								class="form-control" id="exampleFormControlSelect1">
								<option>Matemática</option>
								<option>Portugês</option>
								<option>Geografia</option>
								<option>Historia</option>
								<option>Ingles</option>
								<option>Física
								<option>
								<option>Química</option>
							</select>

						</div>

					</form>
				</div>
				<div class="col">
					<form>

						<div class="form-group">
							<label for="exampleFormControlSelect1">Tipo</label> <select
								class="form-control" id="exampleFormControlSelect1">
								<option>Todas</option>
								<option>Mais bem avalidadas</option>
								<option>Com mais doawload</option>
							</select>
						</div>
					</form>
				</div>
				<div class="col"></div>
			</div>
-->





		<div class="card" id="card-design-recomend-doc-collaboration">
			<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>08/08/2000</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Fellipe</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Matemática</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Progressao Aritmetica</p>
				</div>
				<div class="col">
					<a th:href="@{/access/register_student}"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Doc</a>

				</div>
			</div>
		</div>

		<div class="card" id="card-design-recomend-doc-collaboration">
						<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>08/08/2000</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Fellipe</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Matemática</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Progressao Aritmetica</p>
				</div>
				<div class="col">
					<a th:href="@{/access/register_student}"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Doc</a>

				</div>
			</div>
		</div>


		<div class="card" id="card-design-recomend-doc-collaboration">
						<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>08/08/2000</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Fellipe</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Matemática</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Progressao Aritmetica</p>
				</div>
				<div class="col">
					<a th:href="@{/access/register_student}"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Doc</a>

				</div>
			</div>
		</div>


		<div class="card" id="card-design-recomend-doc-collaboration">
						<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>08/08/2000</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Fellipe</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Matemática</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Progressao Aritmetica</p>
				</div>
				<div class="col">
					<a th:href="@{/access/register_student}"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc">Visualizar Doc</a>

				</div>
			</div>
		</div>


		<div class="card" id="card-design-recomend-doc-collaboration">
						<div class="row">
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Data de publicaçao:</h6>
					<p>08/08/2000</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Publicado por:</h6>
					<p>Fellipe</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Disciplina:</h6>
					<p>Matemática</p>
				</div>
				<div class="col">
					<h6 id= "topicos-cards-recomend-doc">Assunto:</h6>
					<p>Progressao Aritmetica</p>
				</div>
				<div class="col">
					<a th:href="@{/access/register_student}"
						class="btn btn-outline-secondary btn-lg mt-2" role="button"
						aria-pressed="true" id = "btn-recomended-doc" >Visualizar Doc</a>

				</div>
			</div>
		</div>


	</div>

</body>
</html>